.filter-search > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.react-datepicker__input-container input {
  height: 2.5rem;
  background: white;
  border: 1px solid #ced4da;
  display: block;
  width: 100%;
  padding: 0 1rem;
}
.api-result {
  display: flex;
  width: 100%;
}

.api-result .left-section {
  flex-basis: 50%;
}

.api-result .right-section {
  flex-basis: 50%;
  margin-left: 1rem;
}
@media only screen and (max-width: 768px) {
    .api-result {
        flex-direction: column;
      }
}
