.header {
  background-color: #20232a;
  height: 3rem;
  justify-content: space-between;
  align-items: center;
  display: flex;
  color: white;
  padding: 0 1rem;
}

.header a {
  color: #ffffff8c;
  margin: 0 1rem;
  text-decoration: none;
  
}

.header a:hover {
  color: #fff;
}

.container{
    margin: 2rem;
}

.header a.active{
    color: #fff;
}
